# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
poc-ui/node_modules
poc-ui/.pnp
poc-ui/.pnp.*
poc-ui/.yarn/*
poc-ui/!.yarn/patches
poc-ui/!.yarn/plugins
poc-ui/!.yarn/releases
poc-ui/!.yarn/versions

# testing
poc-ui/coverage

# next.js
poc-ui/.next/
poc-ui/out/

# production
poc-ui/build

# misc
poc-ui/.DS_Store
poc-ui/*.pem

# debug
poc-ui/npm-debug.log*
poc-ui/yarn-debug.log*
poc-ui/yarn-error.log*
poc-ui/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
poc-ui/.env*

# vercel
poc-ui/.vercel

# typescript
poc-ui/*.tsbuildinfo
poc-ui/next-env.d.ts

# compiled output
poc-backend/dist
poc-backend/node_modules
poc-backend/build

# Logs
logs
poc-backend/*.log
poc-backend/npm-debug.log*
poc-backend/pnpm-debug.log*
poc-backend/yarn-debug.log*
poc-backend/yarn-error.log*
poc-backend/lerna-debug.log*

# OS
poc-backend/.DS_Store

# Tests
poc-backend/coverage
poc-backend/.nyc_output

# IDEs and editors
poc-backend/.idea
poc-backend/.project
poc-backend/.classpath
poc-backend/.c9/
poc-backend/*.launch
poc-backend/.settings/
poc-backend/*.sublime-workspace

# IDE - VSCode
poc-backend/.vscode/*
poc-backend/!.vscode/settings.json
poc-backend/!.vscode/tasks.json
poc-backend/!.vscode/launch.json
poc-backend/!.vscode/extensions.json

# dotenv environment variable files
poc-backend/.env
poc-backend/.env.development.local
poc-backend/.env.test.local
poc-backend/.env.production.local
poc-backend/.env.local

# temp directory
poc-backend/.temp
poc-backend/.tmp

# Runtime data
poc-backend/pids
poc-backend/*.pid
poc-backend/*.seed
poc-backend/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
poc-backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
